/* Global Styles */

#root {
  margin: 0 auto;
  padding: 16px;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card {
  padding: 2em;
}


/* Media Queries */

/* Styles for mobile devices */
@media (max-width: 585px) {
  p {
    font-size: 1em;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }
}

/* Styles for tablets */ 
@media (min-width: 586px) and (max-width: 768px) {
  p {
    font-size: 1.2em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
}

/* Styles for desktops */ 
@media (min-width: 769px) and (max-width: 1366px) {
  p {
    font-size: 1.5em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }
}




