/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span, b {
  margin: 0;
  padding: 0;
  line-height: inherit;
}

/* Typography */

li {
  text-align: left;
  font-size: 1.25em;
  line-height: 50%;
  list-style-type: disc;

}

.nav-item {
  display: inline-flex;
  list-style-type: none;
}

.pop {
  font-weight: bold;
  font-style: italic;
  color: #4CAF50;
}

body {
  display: flex;
  flex-direction: column;
  align-items: start; 
  justify-content: flex-start; 
  min-height: 100vh; 
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

main {
  background-color: #F7FCFE;
}

.headline {
  margin-bottom: .5em;
  text-align: left;
}

.test {
  border: 2px solid gray;
}

header {
  max-height: 350px;
    margin-bottom: .5em;
    box-shadow: 0px 10px 8px #CCC;
  }

  .navbarStyles {
    height: 100%;
  }

  .nav-links {
    height: 100%;
    vertical-align: middle;
  }

.card {
  padding: 2em;
}

img.navLogo {
  width: 100%;
  height: 100%;
}

.no-padding {
  padding: 0;
}

.months div {
  min-width: 20px;
  min-height: 20px;
  margin: .5em;
}

/* Plant Tag Styles */

.plantContainerStyle {
  margin: 0;
  padding: 0;
  width: 201px;
  height: 664px;
  align-items: center;
}

.plantTagStyle {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

.plantTagTextStyle {
  max-width: 180px;
  max-height: 160px;
  text-align: center;
  top: 40px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}

.plantTagPhotoStyle {
  width: 200px;
  height: 200px;
  top: 220px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.plantTagStateStyle {
  width: 160px;
  height: 160px;
  top: 400px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 3;
}

.gardenStyle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../src/assets/images/garden-grass.png);
  background-repeat: repeat-x;
  background-position-x: center;
  background-position-y: bottom;
}

.myTasksStyle {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.footerStyle {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 0;
}

.footerTextStyle {
  text-align: center;
  z-index: 1;
  font-size: .75em;
  color: white;
}


/* Media Queries */

/* Styles for mobile devices */
@media (max-width: 585px) {
  p {
    font-size: 1em;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }
}

/* Styles for tablets */ 
@media (min-width: 586px) and (max-width: 768px) {
  p, li {
    font-size: 1.5em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  .headline {
    font-size: 2em;
  }

  .headline-container {
    display: none;
  }

  .promo-blurb h2, p, li{
    text-align: center;
  }
}

/* Styles for desktops */ 
@media (min-width: 769px) {
  p {
    font-size: 1.5em;
  }

  h1 {
    font-size: 2.25em;
  }

  h2 {
    font-size: 2em;
  }

  .headline {
    font-size: 2.25em;
  }
}

/* Styles for large desktops */
@media (min-width: 1600px) {
  p {
    font-size: 1.25em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  .headline {
    font-size: 2.5em;
  }
}