/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span, b {
  margin: 0;
  padding: 0;
  line-height: inherit;
}

/* Typography */

ul.list {
  padding-left: 5px;
}

.list li {
  text-align: left;
  font-size: 1.25em;
  line-height: 50%;
  list-style-type: disc;
}

.nav-links {
  color: #418E33;
  font-weight: bold;
  text-shadow:1px 1px 0 #EEE;
  display: inline;
  list-style-type: none;
}

.nav-item {
  display: inline-flex;
  list-style-type: none;
}

.pop {
  font-weight: bold;
  font-style: italic;
  color: #4CAF50;
}


main {
  background-color: #F7FCFE;
}

.card {
  padding: 2em;
}

.headline {
  margin-bottom: .5em;
  text-align: left;
}

.test {
  border: 2px solid gray;
}

/* Header and Navigation Styles */

header {
  max-height: 350px;
    margin-bottom: .5em;
    box-shadow: 0px 10px 8px #CCC;
  }

.navbarStyles {
    height: 100%;
  }

.nav-links {
    vertical-align: middle;
  }

img.navLogo {
    width: 85%;
    height: 100%;
  }

/* Garden Component Styles */

.gardenStyle {
  background-image: url("./assets/images/garden-grass.png");

}

/* Plant Component Styles */

.plantStyle {
  padding: 0;
  width: 200px;
  margin: 4px;
  display: inline-block;
}

.plantContainerStyle {
  background-image: url("./assets/images/plant-tag.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding: 0;
  width: 190px;
  position: relative;
  top: -40px;
}

.plantTagTextStyle {
  font-size: 1.5em;
  font-weight: bold;
  color: #418E33;
  padding: 0px;
  position: relative;
  top: 40px;
}

.plantTagPhotoStyle {
  width: 170px;
  height: 170px;
  padding: 0px;
}

.plantTagPhotoStyle img {
  width: 100%;
  position: relative;
  top: 30px;
}

.plantTagStateStyle {
  width: 130px;
  padding: 0;
  position: relative;
  top: -30px;
}

.plantTagStateStyle img {
  width: 100%;
}

/* .myTasksStyle {

} */


.no-padding {
  padding: 0;
}

.months div {
  min-width: 20px;
  min-height: 20px;
  margin: .5em;
}


/* Media Queries */

/* Styles for mobile devices */
@media (max-width: 585px) {
  p {
    font-size: 1em;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }
}

/* Styles for tablets */ 
@media (min-width: 586px) and (max-width: 768px) {
  p, li {
    font-size: 1.5em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  .headline {
    font-size: 2em;
  }

  .headline-container {
    display: none;
  }

  .promo-blurb h2, p, li{
    text-align: center;
  }
}

/* Styles for desktops */ 
@media (min-width: 769px) {
  #root, #root div {
    max-height: 800px;
  }
  main {
    max-height: 800px;
  }

  p {
    font-size: 1.5em;
  }

  h1 {
    font-size: 2.25em;
  }

  h2 {
    font-size: 2em;
  }

  .headline {
    font-size: 2.25em;
  }
}

/* Styles for large desktops */
@media (min-width: 1600px) {
  #root, #root div {
    max-height: 800px;
  }
  main {
    max-height: 800px;
  }

  p {
    font-size: 1.25em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  .headline {
    font-size: 2.5em;
  }
}




